.btn {
    background-color: transparent;
}

.btn:hover {
    background-color: white;
    color: black;
}

#banner {
    border-radius: 20px;
}

.cart{
    border: 1px solid black;
    width: 350px;
}
.cards{
    border: 1px solid black;
    width: 350px;
}

.cook{
    background-color: rgb(11, 229, 138);
}

